<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title></title>
</head>
	<body>
		<form action="#" th:action="@{/task}" th:object="${mainmodel}" method="post">
			<p>Task</p>
			<input type="text" th:value="${task}" placeholder="task" name="task"/>
	<!-- 	 	<input type="text" th:placeholder="Enter Task here" th:value="${task}"> </input>
			<input placeholder="how much have you done" th:field="*{status}"}></input>
			<input placeholder="Enter notes here" th:field="*{note}"}> </input> -->
			<button type="submit">Submit</button>
		</form>
		<div>
			<p>Task List</p>
		</div>
	</body>
</html> 

